*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: brown;
}

body {
    background-color: beige;
}


.filas{
    display: flex;
    gap: 10px;
}
.filas div{
    width: 33.3%;
    height: 400px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 800px){
    .filas{
        flex-direction: column;
    }
    .filas div{
        width: 100%;
    }
}







